@model IEnumerable<GroupWork.Models.User>

@{
    ViewBag.Title = "User";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td onclick="window.location.href='/Welcome/Index/'+@Html.DisplayFor(modelItem => item.ID)">
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
    </tr>
}

</table>
