@model GroupWork.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Weight Goal</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    

    <div class="form-group">
        @Html.HiddenFor(model => model.ID)
        <label class="control-label col-md-2" for="WeightGoal">Weight Goal</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.WeightGoal, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WeightGoal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Progress", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
