@model IEnumerable<GroupWork.Models.Record>

@{
    ViewBag.Title = "Index";
}

<h2>Progress</h2>

@if (Model.First().User.WeightGoal == 0)
{
    <h3>No weight goal set.</h3>
    <form style="display: inline" action="@Url.Action("Edit", "Progress", new { id=Model.First().RecordID })" method="get">
        <button class="btn btn-primary">Set weight goal</button>
    </form>

    <br />
    <br />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Height)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InputDate)
            </td>
        </tr>
    }

</table>
